
# Ignore the dataset directory
data/iu_xray/images/

# Ignore specific JSON files (with correct relative paths)
data/mimic_cxr/clip_text_features.json
data/iu_xray/iu_annotation_promptmrg.json
data/iu_xray/annotation.json
# Ignore specific .pth files (with correct relative paths)
checkpoints/stanford/chexbert/chexbert.pth
checkpoints/stanford/chexbert/model_promptmrg_20240305.pth
